body, html{
    height: 100%;
}

.form-control{
    margin-bottom: 15px;
}

#msgErro{
    color: red;
}

img{
    height: 80px;
    width: 70px;
}

.form-control:focus {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  